/*
 * NGINX Unit 1.31.1
 *
 * NGINX Unit is a lightweight and versatile application runtime that provides the essential components for your web application as a single open-source server: running application code, serving static assets, handling TLS and request routing.   **Important**: Ufnit's API is designed to expose any part of its configuration as an addressable endpoint.  Suppose a JSON object is stored at `/config/listeners/`:   ```json { \"*:8080\": { \"pass\": \"applications/wp_emea_dev\" } } ```  Here, `/config/listeners/_*:8080` and `/config/listeners/_*:8080/pass` are also endpoints.  Generally, object options are addressable by their names, array items—by their indexes (`/array/0/`).    **Note**: By default, Unit is configured through a UNIX domain socket. To use this specification with OpenAPI tools interactively, [start](https://unit.nginx.org/howto/source/#source-startup) Unit with a TCP port as the control socket.
 *
 * The version of the OpenAPI document: 0.2.0
 * Contact: unit-owner@nginx.org
 * Generated by: https://openapi-generator.tech
 */

use std::borrow::Borrow;
#[allow(unused_imports)]
use std::option::Option;
use std::pin::Pin;
use std::rc::Rc;

use futures::Future;
use hyper;

use super::request as __internal_request;
use super::{configuration, Error};

pub struct ApplicationsApiClient<C: hyper::client::connect::Connect>
where
    C: Clone + std::marker::Send + Sync + 'static,
{
    configuration: Rc<configuration::Configuration<C>>,
}

impl<C: hyper::client::connect::Connect> ApplicationsApiClient<C>
where
    C: Clone + std::marker::Send + Sync,
{
    pub fn new(configuration: Rc<configuration::Configuration<C>>) -> ApplicationsApiClient<C> {
        ApplicationsApiClient { configuration }
    }
}

pub trait ApplicationsApi {
    fn delete_application(
        &self,
        app_name: &str,
    ) -> Pin<Box<dyn Future<Output = Result<::std::collections::HashMap<String, String>, Error>>>>;
    fn delete_applications(
        &self,
    ) -> Pin<Box<dyn Future<Output = Result<::std::collections::HashMap<String, String>, Error>>>>;
    fn get_application(
        &self,
        app_name: &str,
    ) -> Pin<Box<dyn Future<Output = Result<crate::models::ConfigApplication, Error>>>>;
    fn get_applications(
        &self,
    ) -> Pin<
        Box<dyn Future<Output = Result<::std::collections::HashMap<String, crate::models::ConfigApplication>, Error>>>,
    >;
    fn update_application(
        &self,
        app_name: &str,
        config_application: crate::models::ConfigApplication,
    ) -> Pin<Box<dyn Future<Output = Result<::std::collections::HashMap<String, String>, Error>>>>;
    fn update_applications(
        &self,
        request_body: ::std::collections::HashMap<String, crate::models::ConfigApplication>,
    ) -> Pin<Box<dyn Future<Output = Result<::std::collections::HashMap<String, String>, Error>>>>;
}

impl<C: hyper::client::connect::Connect> ApplicationsApi for ApplicationsApiClient<C>
where
    C: Clone + std::marker::Send + Sync,
{
    #[allow(unused_mut)]
    fn delete_application(
        &self,
        app_name: &str,
    ) -> Pin<Box<dyn Future<Output = Result<::std::collections::HashMap<String, String>, Error>>>> {
        let mut req =
            __internal_request::Request::new(hyper::Method::DELETE, "/config/applications/{appName}".to_string());
        req = req.with_path_param("appName".to_string(), app_name.to_string());

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn delete_applications(
        &self,
    ) -> Pin<Box<dyn Future<Output = Result<::std::collections::HashMap<String, String>, Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::DELETE, "/config/applications".to_string());

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn get_application(
        &self,
        app_name: &str,
    ) -> Pin<Box<dyn Future<Output = Result<crate::models::ConfigApplication, Error>>>> {
        let mut req =
            __internal_request::Request::new(hyper::Method::GET, "/config/applications/{appName}".to_string());
        req = req.with_path_param("appName".to_string(), app_name.to_string());

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn get_applications(
        &self,
    ) -> Pin<
        Box<dyn Future<Output = Result<::std::collections::HashMap<String, crate::models::ConfigApplication>, Error>>>,
    > {
        let mut req = __internal_request::Request::new(hyper::Method::GET, "/config/applications".to_string());

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn update_application(
        &self,
        app_name: &str,
        config_application: crate::models::ConfigApplication,
    ) -> Pin<Box<dyn Future<Output = Result<::std::collections::HashMap<String, String>, Error>>>> {
        let mut req =
            __internal_request::Request::new(hyper::Method::PUT, "/config/applications/{appName}".to_string());
        req = req.with_path_param("appName".to_string(), app_name.to_string());
        req = req.with_body_param(config_application);

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn update_applications(
        &self,
        request_body: ::std::collections::HashMap<String, crate::models::ConfigApplication>,
    ) -> Pin<Box<dyn Future<Output = Result<::std::collections::HashMap<String, String>, Error>>>> {
        let mut req = __internal_request::Request::new(hyper::Method::PUT, "/config/applications".to_string());
        req = req.with_body_param(request_body);

        req.execute(self.configuration.borrow())
    }
}
